<!DOCTYPE html>
<html>
<head>
  <title>Birthday Reminder</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Hanson's Birthday Reminder App</h2>

  <form action="/add-user" method="POST">
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="date" name="dateOfBirth" required />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
