body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 40px;
}

form {
  background: white;
  padding: 20px;
  max-width: 400px;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
